---
---

@import "override.css";
@import "twitter.css";
.tag{
      background-color: #636c72;
      display: inline-block;
      padding: .4em .4em;
      margin: 4px 0px;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
  
  &.primary{
    background-color: #337ab7;
  }
  
  &.success{
    background-color: #5cb85c;
  }

  &.info{
  background-color: #5bc0de;

  }
}

.post-list{
  list-style: none;
}
.social-icons{
  a {
    display: inline-block;
    margin-top: 5px;
  }
}

.so.color{
  color: #f48024;
}

.github.color {
  color: #24292e;
}

.twitter.color{
  color: #1da1f2;
}

.youtube.color{
  color: #e62117;
}

.linkedin.color{
  color: #0077B5;
}